
*{
  margin: 0;
}
body{
  background-color: #18191a;
  color: #fff;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root{
  width: 100%;
  display: flex;
  justify-content: center;
}


.container{
  width: 90%;
  margin: auto;
}

.title{
  text-align: center;
  margin-top: 30px;
}
.paginacion{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;

}
.btn-page{
  padding: 10px 15px;
  margin: 20px;
  background-color: #3a3b3c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn-page:disabled{
  background-color: black;
  color: #3a3b3c;
}
.characters{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.card{
  max-width: 250px;
  border-radius: 10px;
  text-align: center;
}

.card-img{
  border-radius: 15px;
  width: 90%;
}
.name{
  font-size: 16px;
  margin-bottom: 10px;
}
.origin{
  font-size: 10px;
  margin-top: 10px;
}

.pactual{
  text-align: center;
}
